@media only screen and (min-width: 767px) {
   .nav-container {
      height: 5%;
      padding-top: 0%;
      padding: 10px 10px;
      background-color: transparent;
   }

   .main-nav.flex {
      flex-direction: row;
      width: 100%;
      justify-content: space-around;


   }



   nav ul.flex {
      flex-direction: row;
      justify-content: space-between;

   }

   .nav-toggle {
      display: none;

   }

   .nav-container.active {
      transform: none;
   }

}

@media only screen and (min-width:1280px) {

   .home-contents .left-side-img,
   .home-contents .right-side-img {
      /* width: 20%; */
      margin-top: 180px;


   }

   .home-contents .right-side-img {
      padding-top: 180px;
   }

   .home-shape {
      display: inline-block;
      z-index: -1;
      left: -50%;
      bottom: -40%;
   }
}