@media only screen and (min-width: 550px) {

   /*? #admission */
   .admission-contents>.right-side .admissionForm form {
      min-height: 450px;
      min-width: 400px;
      border-radius: 8px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 9px 70px 0px rgba(227, 227, 233, 1.004);
   }


}

@media only screen and (min-width: 767px) {

   /*?NOTE: typography */
   nav ul li a {
      color: #5a6e79;
   }

   .home-contents .home-text h2,
   .about-text h2,
   .admission-contents>.left-side .text h2,
   .news-top>.left-side h2 {
      font-size: 1.8rem;
   }

   .about-text h2,
   .admission-contents>.left-side .text h2,
   .admission-contents .left-side .text p {
      text-align: left;
      color: #000;
   }

   .admission-contents>.left-side p {
      font-size: 1rem;

   }

   /*?NOTE: header */
   .header.headerBackground {
      background-color: #f9f9f9;
      position: fixed;
   }

   .nav-container {
      height: 5%;
      padding-top: 0%;
      padding: 10px 10px;
      background-color: transparent;
      margin-top: 5px;
   }



   .main-nav.flex {
      flex-direction: row;
      width: 100%;
      justify-content: space-around;
   }

   nav ul.flex {
      flex-direction: row;
      justify-content: space-between;

   }

   .nav-toggle {
      display: none;

   }

   .nav-container.active {
      transform: none;
   }

   /*?NOTE: home */
   .home-text {
      margin-top: -20px;
   }

   .home-contents {
      flex-direction: row;
      padding-top: 100px;

   }

   .home-subject .cards .card {

      margin: none;

   }

   .home-contents .right-side-img {
      padding-top: 180px;

   }

   .home-contents .left-side-img {
      display: inline-block;
   }



   .home-subject {
      margin: 5rem 0;
   }

   /*?NOTE:about section*/
   .about-contents {
      flex-direction: row;


   }

   .about-contents>* {
      flex: 1;
   }

   .about-contents .left-side-img {
      right: 0%;
   }

   .about-text .top-text,
   .about-text .bottom-text {
      font-size: 15px;
   }

   /*? NOTE:admission */
   .admission-contents>.left-side {
      flex-direction: row;
      justify-content: space-around;

   }

   .admission-contents>.right-side {
      flex-direction: row;
      justify-content: center;
   }

   .admission-contents .left-side {
      justify-content: space-between;
      width: 80%;
   }

   /*? news */
   .news-top>.right-side {
      text-align: end;

   }
   .news-top>.right-side .button {
      padding: 15px 35px;
   }
}

@media only screen and (min-width:1181px) {

   /*?NOTE: home section */


   /* .home-contents .home-text h2,
   .about-text h2,
   .contact-contents>.left-side .text h2 {
      font-size: 1.9rem;
   } */

   /* ?NOTE:about section */
   .about-text {
      padding-right: 2.5rem;
   }

   /*? NOTE:admission */
   .admission-contents {
      flex-direction: row;
      justify-content: space-between;


   }

   .admission-contents .left-side {
      justify-content: space-between;

      width: 50%;
   }

   .admission-contents>.right-side {
      width: 40%;

   }

   #admission {

      position: relative;
      z-index: 1;
   }

}

@media only screen and (min-width:1300px) {

   /*? typography */
   .about-text .top-text,
   .about-text .bottom-text {
      font-size: 18px;
   }

   .about-count span {
      font-size: 40px;
   }

   .about-count p {
      font-size: 20px;

   }



   /*?NOTE: home  section*/
   .home-contents .right-side-img {
      display: inline-block;

   }

   .home-shape {
      display: inline-block;
      z-index: -1;
      left: -50%;
      bottom: -50%;
   }

   .home-text {
      margin-top: -150px;
   }

   .home-contents .left-side-img {
      display: inline-block;

   }

   .home-subject {
      margin: 10.5rem 0;
   }

   /*?NOTE: about section */
   .about-shape {
      display: inline-block;
      left: -110%;
      top: -85%;
      z-index: -10;
   }

   .about-contents .left-side-img {
      left: -10%;
   }

   /*? NOTE:admission */

   #admission {
      margin-top: 180px;
   }

   .admission-contents {
      padding: 0 0;
   }

   .admission-contents>.right-side {
      width: 40%;
   }

   .admission-contents>.left-side p {
      font-size: 1rem;
      padding-bottom: 10px;
   }

   .admission-contents>.right-side {
      flex-direction: row;
      justify-content: end;

   }

   .admission-contents>.right-side>.admissionForm form {
      padding: 30px 60px;
      position: absolute;
      top: -40%;
      right: 15%;

   }

   .admission-contents>.right-side .admissionForm form {
      max-height: 560px;
      max-width: 460px;
   }

   .admission-contents form input[type="checkbox"] {
      margin-top: 30px;
   }

   .admission-contents form .input-box input {
      margin-bottom: 10px;
   }

   .admission-contents .apply {
      margin: 40px 0;
   }

   .admission-contents .apply-now {
      padding: 15px 40px;

   }

   /* ?news */

   #news {
      margin-top: 180px;
   }

   .news-top>.left-side p {
      font-size: 16px;
   }
}

@media screen and (min-width:1440px) {

   /*? typography */
   .home-contents .home-text h2,
   .about-text h2,
   .admission-contents>.left-side .text h2,
   .news-top>.left-side h2 {
      font-size: 2.3rem;
   }

}

@media screen and (min-width:1527px) {
   /*? typography */

   .home-contents .home-text h2,
   .about-text h2,
   .news-top>.left-side h2 {
      font-size: 2.5rem;
   }



}

@media screen and (min-width:1617px) {

   /*? home */
   .home-text {
      max-width: 540px;

   }

}

@media screen and (min-width:1700px) {
   .admission-contents>.left-side .text {
      padding-left: 100px;
   }

   .admission-contents>.left-side .text h2 {
      font-size: 2.5rem;
   }


   .admission-contents>.left-side>object {
      position: absolute;
      left: -10%;
      top: 5%;
   }
}