@media only screen and (min-width: 767px) {

   /*?NOTE: typography */
   .home-contents .home-text h2,
   .about-text h2 {
      font-size: 1.8rem;
   }

   .header.headerBackground {
      background-color: #f9f9f9;
      position: fixed;
   }

   nav ul li a {
      color: #5a6e79;
   }

   .home-text {
      margin-top: -20px;
   }

   .home-contents {
      flex-direction: row;
      padding-top: 100px;

   }

   .nav-container {
      height: 5%;
      padding-top: 0%;
      padding: 10px 10px;
      background-color: transparent;
      margin-top: 5px;
   }

   .main-nav.flex {
      flex-direction: row;
      width: 100%;
      justify-content: space-around;
   }

   nav ul.flex {
      flex-direction: row;
      justify-content: space-between;

   }

   .nav-toggle {
      display: none;

   }

   .nav-container.active {
      transform: none;
   }

   .home-contents .right-side-img {
      padding-top: 180px;

   }

   .home-contents .left-side-img {
      display: inline-block;
   }

   .home-shape {
      display: none;
   }

   .home-subject {
      margin: 5rem 0;
   }

   /*? about */
   .about-contents {
      flex-direction: row;
      gap: 3.5rem;

   }

   .about-contents>* {
      flex: 1;
   }

   .about-contents .left-side-img {
      right: 0%;
   }

   .about-text .top-text,
   .about-text .bottom-text {
      font-size: 15px;
   }

   .about-count span {
      font-size: 30px;
   }

   .about-count p {
      font-size: 15px;
   }
}

@media only screen and (min-width:1181px) {
   .home-contents .home-text h2,
   .about-text h2 {
      font-size: 2rem;
   }

  

}

@media only screen and (min-width:1280px) {


   /*?NOTE: home */
   .home-contents .home-text h2,
   
   .about-text h2 {
      font-size: 2.5rem;
   }

   .home-contents .right-side-img {
      display: inline-block;

   }

   .home-shape {
      display: inline-block;
      z-index: -1;
      left: -50%;
      bottom: -50%;
   }


   .home-text {
      margin-top: -200px;
   }

   .home-contents .left-side-img {
      display: inline-block;

   }

   .home-subject {
      margin: 10.5rem 0;
   }
}