/*!NOTE:###################global################## */
/* !?##############+++++++++++++++################## */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Work+Sans:ital,wght@0,700;1,400;100&display=swap');

:root {
   --green: #43CB83;
   --black: #202020;
   --white: #ffffff;
   --red: #FB384D;
   --orange: #FFBA00;
   --blue: #0066cc;
   --ash: #999999;
   --text: #666666;
}

* {
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   scroll-behavior: smooth;

}

h2 {
   font-family: 'Montserrat',
      sans-serif;
   font-size: 2.5rem;
   color: var(--green);
   line-height: 1.3;
}

p,
a,
text,
ul li a {
   font-family: 'Work Sans',
      sans-serif;

}


ul li {
   list-style: none;

}

a {
   text-decoration: none;
   cursor: pointer;
}

body {
   overflow-x: hidden;
}

a:hover {
   cursor: pointer;
}

p {
   font-family: 'Montserrat',
      sans-serif;
}

img {
   max-width: 100%;
   display: inline-block;
}

.fw-bold {
   font-weight: 700;
}

.fw-light {
   font-weight: lighter;
}


/*!NOTE:###################reuseable################## */
/* !?##############+++++++++++++++################## */
.button {
   padding: .8rem 1rem;
   text-align: center;
   display: inline-block;
   border-radius: 5px;
   background: var(--green);
   color: var(--white);
   font-size: 17.97px;
   font-weight: 100;
   border-radius: 30px;
}

button {
   border: none;
}

.button a {
   font-size: 29.17px;
}


.card {
   background-color: #fff;
   color: #333;
   border-radius: 10px;
   -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
   box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
   padding: 20px;
}

/* ! containers */
.container-sm {
   margin: 0 auto;
   max-width: 540px;
}

.container-md {
   margin: 0 auto;
   max-width: 720px;
}

.container-lg {
   margin: 0 auto;
   max-width: 960px;
}



.container {
   max-width: 1140px;
   margin: 0 auto;
}

.container-xl {
   margin: 0 auto;
   max-width: 1240px;
}

.container-xxl {
   margin: 0 auto;
   max-width: 1400px;
}

.container-fluid {
   width: 100%;
}

.max-screen {
   margin: 0 auto;
   max-width: 1920px;
}

/* ! placement items*/

.flex {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   height: 100%;
}

.low-z {
   z-index: -10;
}

.high-z {
   z-index: 10;
}

.absolute {
   position: absolute;
}

.sticky {
   position: sticky;
}

.relative {
   position: relative;
}

.fixed {
   position: fixed;
}

.grid {
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: (1fr)[2];
   grid-template-columns: repeat(2, 1fr);
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   height: 100%;
}

.grid-12 {
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: (1fr)[12];
   grid-template-columns: repeat(12, 1fr);
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   height: 100%;
}

/*?NOTE: typography  */
/*! nav */
nav ul li a {
   -webkit-transition: .2s ease-in-out;
   -o-transition: .2s ease-in-out;
   transition: .2s ease-in-out;
   color: var(--green);
   font-size: 1rem;
}

/*! home */
.home-contents .top_text {
   text-align: center;
}

.home-contents .home-text h2 {
   padding-bottom: .5em;
   font-size: 1.5rem;
}

.home-subject .cards .card a {
   font-size: 30px;
   color: var(--black);
}

.home-text p {
   color: var(--ash);
   padding-bottom: 1.5em;
}

/*! about and contact*/
.about-text h2,
.contact-contents>.left-side h2 {
   font-size: 1.3rem;
   text-align: center;
}

.about-contents p {
   color: var(--text);
}

.about-count {
   justify-content: space-between;
   font-family: 'Montserrat',
      sans-serif;

}


.about-count p {
   font-size: 15px;

}

.about-count span {
   font-size: 30px;
   font-weight: bold;
}

.contact-contents>.left-side h2 {
   color: var(--black);
}

.contact-contents>.left-side p {
   font-family: 'Montserrat',
      sans-serif;
   color: var(--text);
   text-transform: uppercase;
   font-size: 10px;
   text-align: center;
}

.contact-contents>.left-side p span {
   color: var(--red);
}

/*!NOTE:###################header################## */
/* !?##############+++++++++++++++################## */
.nav-container {
   background-color: #67877f;
   height: 100vh;
   -webkit-transition: .5s ease-in-out;
   -o-transition: .5s ease-in-out;
   transition: .5s ease-in-out;
   padding-top: 2%;



}

.nav-container.flex {
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   /* align-items: center; */
}

.nav-container.active {
   -webkit-transform: translateX(-100%);
   -ms-transform: translateX(-100%);
   transform: translateX(-100%);
   /*display: none;
   */
   -moz-transform: translateX(-100%);
   -o-transform: translateX(-100%);
}

nav ul.flex {
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   height: 100%;
   -webkit-box-pack: space-evenly;
   -ms-flex-pack: space-evenly;
   justify-content: space-evenly;

}

nav ul li {
   padding: 30px;
   text-align: center;
}


nav ul li a.active {
   border-bottom: 3px solid var(--green);
}


.apply-btn {
   padding: 10px 15px;
   background-color: var(--white);
   text-align: center;
   display: inline-block;
   border-radius: 15px;
   background-color: rgb(255, 255, 255);
   -webkit-box-shadow: 0px 9px 15px 0px rgba(227, 227, 233, 1);
   box-shadow: 2px 0px 2px 0px rgba(227, 227, 233, 1);
   border-bottom: none;

}

.apply-btn a.active {
   border-bottom: none;

}

.header {
   position: absolute;
   width: 100%;
   z-index: 1000;
   /* margin-top: 100px; */



}



.main-nav.flex {
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   z-index: 10000;

}

.nav-toggle {
   padding: 10px;
   border-radius: 10px;
   -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   z-index: 100;
}

.nav-toggle i {
   color: var(--green);
   width: 20px;
}

.nav-toggle {
   top: 5%;
   right: 5%;

}



/* .home-contents .left-side-img{
   order: -1;
}
.home-contents .right-side-img {
   order: 3;
} */

/*!NOTE:###################home################## */
/* !?##############+++++++++++++++################## */
.home-contents .flex {
   display: -webkit-box;
   display: -ms-flexbox;

   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   z-index: 1;

}

.home-text {
   max-width: 550px;

}



.home-shape {
   display: none;
}

.home-contents .left-side-img object,
.about-contents object {
   width: 100%;
}

.home-contents .right-side-img {
   display: none;
}

.home-text {
   margin-top: 50px;
}

.home-contents {
   flex-direction: column;
}



.home-subject {
   margin: 2%;
}

/*? home cards part */
.home-subject .cards {
   display: grid;
   gap: 1.8rem;

   grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

}

.home-subject .cards .card {
   flex-direction: column;
   padding: 60px 80px;
   z-index: 11;

}

.home-subject .cards .card img {
   margin-bottom: 3.75rem;
}




.home-subject .cards>.card:nth-child(1) {
   background-color: #ffccff;
}

.home-subject .cards>.card:nth-child(2) {
   background-color: #ccffff;
}

.home-subject .cards>.card:nth-child(3) {
   background-color: #fcf0e3;
}

.home-subject .cards>.card:nth-child(4) {
   background-color: #fceee3;
}

.home-subject .cards>.card:nth-child(5) {
   background-color: #f3fce3;
}

.home-subject .cards>.card:nth-child(6) {
   background-color: #e3f3fc;
}

/*!NOTE:###################about################## */
/*!?##############+++++++++++++++################## */

.about-contents {
   flex-direction: column;
   margin: 3.125rem 0;
   justify-content: space-between;
}

.about-contents .left-side-img {
   right: 12%;
}

.about-text h2,
.about-text .top-text,
.about-text .bottom-text,
.about-count {
   padding: 0.9375rem;
}


.about-shape {
   display: none;
}



.about-count div:nth-child(1)>* {
   color: var(--orange);
}

.about-count div:nth-child(2)>* {
   color: var(--red);
}

.about-count div:nth-child(3)>* {
   color: var(--green);
}

.about-contents .left-side-img {
   z-index: 1;
}


/*!NOTE:###################contact################## */
/*!?##############+++++++++++++++################## */


.contact-contents>.left-side,
.contact-contents>.right-side {
   flex-direction: column;

}

.contact-contents {
   display: flex;
   flex-direction: column;
}

#contact {
   background: url('../images/contact/BG.jpg');
}

/* .contact-contents>.right-side form { */

/* background: red;
   position: absolute;
   height: 500px;
   right: 20%;
   top: -20%; */
/* } */
.contact-contents>.right-side {
   width: 100%;
}

.contact-contents>.right-side .contactForm form {
   height: 400px;
   max-width: 100%;
   border-radius: 8px;
   background-color: rgb(255, 255, 255);
   box-shadow: 0px 9px 70px 0px rgba(227, 227, 233, 1.004);
}

.contact-contents {
   padding: 50px 0;
}



.contact-contents>.right-side>.contactForm>form h2 {
   font-weight: 100;
   font-size: 1.5rem;
   letter-spacing: 10px;
   text-align: center;
   margin-bottom: 5px;
   color: var(--black);
}

.contact-contents>.right-side>.contactForm form {
   padding: 20px;
}

.contact-contents form .input-box input {
   border: none;
   font-size: 14px;
   padding: 18px;
   margin-bottom: 5px;
   color: #5a6e79;
   font-family: 'Montserrat',
      sans-serif;
   font-weight: 600;
   border-bottom: .2px solid #d7e4ed;
}

.contact-contents form .input-box input:focus {
   outline: none;
}

.contact-contents form .have-account {
   font-size: 13px;
   color: var(--ash);
}

.contact-contents form input[type="checkbox"] {
   margin-bottom: 5px;
   cursor: pointer;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   color: var(--green);
}

.contact-contents form input[type="checkbox"]~label {
   color: var(--ash);
}



.contact-contents form .input-box input[type="text"],
.contact-contents form .input-box input[type="email"] {
   width: 100%;
}
.contact-contents .apply {
   display: flex;
   justify-content: space-between;
}

.apply-now {
   background-color: var(--green);
   color: var(--white);
   padding: 10px 30px;
   border-radius: 30px;
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   -ms-border-radius: 30px;
   -o-border-radius: 30px;
}
.contact-contents>.right-side {
   margin-top: 20px;
}